@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ProductDetails>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<h1>The sku is: @ViewData["sku"]</h1>